@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../assert//images/ic_Image.png);
  background-size: cover;
}

.mask {
  height: auto;
  width: 860px;
  border-radius: 20px;
  background-color: #1B183B;
  margin: 3vw;
}

.signin {
  margin: 10px;
}

.group {
  align-items: center;
  height: 861px;
  width: 765px
}

.logo {
  box-shadow: 0 3px 65px 0 #D864FF;
}

.headertext {
  height: 25px;
  width: 500px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}

.headerpart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputfield {
  height: 48px;
  width: 370px;
  border-radius: 12px;
  background-color: #262344;
  border: none;
}

.displayform {
  margin: 20px 50px;
  line-height: 2;
}

.displayform::-webkit-scrollbar{
  width:8px;
}

.formfooter {
  padding: 20px;
  font-style: italic;
  letter-spacing: 0.2px;
  line-height: 16px;
}

.footertext, .footererror{
  color: #08EBBE;
  font-family: Roboto;
  font-size: 14px;
  margin-left: 15px;
}

.footer{
  display: flex;
}

.submitbutton{
  font-family: roboto;
  color: white;
  border-radius: 8px;
  height: 54px;
  width: 370px;
  border: none;
  background-color: #008CFE;
}

.submitbutton:hover{
  background-color: #198ae7;
}

.formlabel{
  color: #767489;
  font-size: 14px;
  margin-bottom: 5px;
}

.formgender{
  color: #767489;
  margin-top: 10px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}


.countrycode{
  height: 48px;
  width: 68px; 
  text-align: center;
}

.inputphone{
  height: 48px;
  width: 285px;
}

.countrycode, .inputphone{
  border-radius: 12px;
  background-color: #262344;
  border: none;
}

.radio{
  height: 58px;
  width: 370px;
}

.phone{
  display: flex;
  justify-content: space-between;
}

.selectoptions{
  color: #FFFFFF;
}

.error{
  color: rgb(246, 104, 104);
  font-size: small;
}

.aterms{
  text-decoration: underline;
}

.aterms:hover{
  color: aqua;
}

.footererror{
  color: rgb(246, 104, 104);
}

.submitbuttondiv{
  padding: 20px;
}