@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../assert//images/ic_Image.png);
  background-size: cover;
}

.mask {
  height: 951px;
  width: 860px;
  border-radius: 20px;
  background-color: #1B183B;
  margin: 3vw;
}

.signin {
  margin: 10px;
}

.group {
  align-items: center;
  height: 861px;
  width: 765px
}

.logo {
  box-shadow: 0 3px 65px 0 #D864FF;
  background-color: red;
}

.headertext {
  height: 25px;
  width: 500px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}

.headerpart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputfield {
  height: 48px;
  width: 370px;
  border-radius: 12px;
  background-color: #262344;
  border: none;
}

.displayform {
  margin: 20px 50px;
}

.formfooter {
  padding: 20px;
  color: #08EBBE;
  color:aqua;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.2px;
  line-height: 16px;
  width: 765px;
  height: 861px;
}

.footer{
  display: flex;
}

.submitbutton{
  height: 54px;
  width: 370px;
  border: none;
  background-color: #008CFE;
}